<h2>Analysis</h2>

<mat-card>
    <div class="card-container" [class.spinner]="loading">
        <mat-form-field appearance="fill" style="margin-right: 5px;">
            <mat-label>Select host</mat-label>
            <mat-select [(value)]="selectedHost">
                <mat-option *ngFor="let host of ipHosts" [value]="host">
                    {{host.ip}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-stroked-button (click)="onClickAnalyse($event)" color="primary"
            style="height: 50px; margin-left: 5px;">
            Analyse
        </button>
    </div>

    <mat-list [(ngModel)]="analysisResult" name="fieldName" ngDefaultControl>
        <mat-list-item role="listitem" *ngFor="let issue of analysisResult">
            <div mat-line style="font-weight: bold; margin-right: 5px;">Host: {{issue.host_information.ip}}</div>

            <div mat-line style="margin: 0 6ex;">
                <div mat-line>Issue Type: {{issue.issue_type}}</div>
                <div mat-line style="margin-top: 1ex;">
                    <div style="font-weight: bold;">Recommendation: {{issue.recommendation.title}}</div>
                </div>
                <div mat-line style="margin: 0 6ex;">
                    <div mat-line>{{issue.recommendation.description}}</div>
                    <div mat-line style="margin-top: 1ex; margin-left: 6ex;">
                        <div style="font-weight: bold;">Fix:</div>
                        <div>{{issue.recommendation.fix}}</div>
                    </div>
                </div>
            </div>
            <button mat-stroked-button color="primary" (click)="onClickFixHost(issue)" [disabled]="!issue.fixable">
                Fix
            </button>
            <div *ngIf="!issue.fixable" style="margin-left: 2ex;">Ssh required on host!</div>
        </mat-list-item>
    </mat-list>

    <div *ngIf="!analysisResult">
        No issues found!
    </div>
</mat-card>