<h2>Analysis</h2>

<mat-card>
    <mat-checkbox [(ngModel)]="isRefreshing" (change)="onChangeAutoRefresh($event)">Auto-Refresh</mat-checkbox>

    <mat-list [(ngModel)]="analysisResult" name="fieldName" ngDefaultControl>
        <mat-list-item role="listitem" *ngFor="let issue of analysisResult">
            <div mat-line style="font-weight: bold; margin-right: 5px;">Host: {{issue.host_ip}}</div>
            
            <div mat-line style="margin: 0 6ex;">
                <div mat-line>Issue Type: {{issue.issue_type}}</div>

                <div mat-line style="margin-top: 1ex;">
                    <div style="font-weight: bold;">Recommendation: {{issue.recommendation.title}}</div>
                </div>
                <div mat-line style="margin: 0 6ex;">
                    <div mat-line>{{issue.recommendation.description}}</div>
                    <div mat-line style="margin-top: 1ex; margin-left: 6ex;">
                        <div style="font-weight: bold;">Fix:</div>
                        <div>{{issue.recommendation.fix}}</div>
                    </div>
                </div>
            </div>
            <button mat-stroked-button color="primary" (click)="onClickFixHost(issue)">
                Fix
            </button>
        </mat-list-item>
    </mat-list>
</mat-card>