<h2>Analysis</h2>

<h3>Optimizations</h3>

<mat-list>
    <mat-list-item role="listitem">Empfehlung 1</mat-list-item>
    <mat-list-item role="listitem">
        <div mat-line style="font-weight: bold; margin-right: 5px;">Zigbee2Mqtt</div>
        <div mat-line>Empfehlung 2 klsjf sklfjsdk lfjlsdjf sdklfjsdk fsfdsjkfa ödsföldsfj dsjflök 
        jalköjfdsölak fjklsjf sklfjsdk lfjlsdjf sdklfjsdk fsfdsjkfa ödsföldsfj dsjflök jalköjfdsölak fj</div>
    </mat-list-item>
    <mat-list-item role="listitem">
        <div mat-line style="font-weight: bold; margin-right: 5px;">Mosquitto</div>
        <div mat-line>Empfehlung 2 klsjf sklfjsdk lfjlsdjf sdklfjsdk fsfdsjkfa ödsföldsfj dsjflök 
        jalköjfdsölak fjklsjf sklfjsdk lfjlsdjf sdklfjsdk fsfdsjkfa ödsföldsfj dsjflök jalköjfdsölak fj</div>
    </mat-list-item>
  </mat-list>
