<h2>Network Configuration</h2>

<div class="card-container" *ngIf="configuration">
    <mat-card>
        <mat-card-title>IP Integration</mat-card-title>
        <mat-card-content>
            todo ports, usb stick
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Mosquitto Integration</mat-card-title>
        <mat-card-content>
            todo ACL topics mqtt
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Zigbee2Mqtt Integration</mat-card-title>
        <mat-card-content>
            <div style="justify-content: left; display: flex;">
                <mat-slide-toggle [(ngModel)]="configuration.zigbee_2_mqtt.permit_join" style="margin: 0 10px;">permit_join
                </mat-slide-toggle>
                <div><b>permit_join:</b> By setting permit_join: true in your configuration.yaml the joining will
                    automatically
                    be enabled when starting Zigbee2MQTT.
                    Joining is not automatically disabled.</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>


<div class="card-container" style="margin-top: 30px;" *ngIf="configuration">
    <button mat-stroked-button (click)="onClickSubmitConfiguration()" color="primary">
        Submit Configurations
    </button>
</div>

<div *ngIf="!configuration">
No configuration!
</div>