<h2>Network Configuration</h2>

<div class="card-container" *ngIf="configuration">
    <mat-card style="width: 500px;">
        <mat-card-title>IP Integration</mat-card-title>
        <mat-card-content>
            <div style="width: auto;">Maximal allowed open ports:</div>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Max. Open Ports</mat-label>
                <input matInput [(ngModel)]="configuration.ip_configuration.max_open_ports" type="number" />
            </mat-form-field>

            <div style="width: auto;">Allow-List Ports (will never be closed by fixing):</div>
            <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Allowlist</mat-label>
                <textarea matInput matTextareaAutosize [(ngModel)]="configuration.ip_configuration.allow_list_port" rows="3"
                    cols="20">
                  </textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card style="width: 500px;">
        <mat-card-title>Osquery Integration</mat-card-title>
        <mat-card-content>
            <div>
                <div style="width: auto;">Allow-List USB(s):</div>
                <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Allow-List</mat-label>
                    <textarea matInput matTextareaAutosize [(ngModel)]="configuration.osquery.allow_list_usbs" rows="3"
                        cols="20">
                      </textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card style="width: 500px;">
        <mat-card-title>Mosquitto Integration</mat-card-title>
        <mat-card-content>
            <div>
                <div style="width: auto;">ACL accessable topics:</div>
                <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>ACL File</mat-label>
                    <textarea matInput matTextareaAutosize [(ngModel)]="configuration.mosquitto.acl" rows="10"
                        cols="20">
                      </textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card style=" width: 500px;">
        <mat-card-title>Zigbee2Mqtt Integration</mat-card-title>
        <mat-card-content>
            <div style="justify-content: left; display: flex;">
                <mat-slide-toggle [(ngModel)]="configuration.zigbee_2_mqtt.permit_join" style="margin: 0 10px;">
                    permit_join
                </mat-slide-toggle>
                <div><b>permit_join:</b> By setting permit_join: true in your configuration.yaml the joining will
                    automatically
                    be enabled when starting Zigbee2MQTT.
                    Joining is not automatically disabled.</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>


<div class="card-container" style="margin-top: 30px;" *ngIf="configuration">
    <button mat-stroked-button (click)="onClickSubmitConfiguration()" color="primary">
        Submit Configurations
    </button>
</div>

<div *ngIf="!configuration">
    No configuration!
</div>