<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <h2 matSubheader>Managementplatform</h2>
      <a mat-list-item href="/">Services</a>
      <a mat-list-item href="/network_scan">Network Scan</a>
      <a mat-list-item href="/config">Network Configuration</a>
      <a mat-list-item href="/analysis">Analysis</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" style="margin-right: 10px;">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="spacer"></div>
        <h3>Master Thesis Managementplatform</h3>
        <div class="spacer"></div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="content" role="main">

      <!-- This is replaced with the routing content -->
      <router-outlet></router-outlet>

      <!-- Footer -->
      <footer>
        Footer&nbsp;
      </footer>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <router-outlet></router-outlet> -->