.circle {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: red;
    margin: 2px;
}

.line {
    width: 50px;
    height: 0px;
    border-bottom: 2px solid DodgerBlue;
    padding: 5px;
}

.table-cell {
    padding-left: 5px;
    padding-right: 5px;
}